.row
  .col-sm-12
    %header.page-header
      %h2 Books

    %table.table
      %thead
        %tr
          %th.remove-col
          %th.isbn-col ISBN
          %th.author-col Author(s)
          %th.title-col Title
          %th.price-col Price
          %th.action-col
      %tbody
        %tr(book-row="book" ng-repeat="book in books" remove-book="removeBook(book)")
      %tfoot
        %tr
          %td{:colspan => "6"}
            .pull-right
              %a.btn.btn-primary(href="/books/new") New Book

%div(ng-include="'links.html'")
